<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <select id="login" resultType="com.beans.User2" parameterType="com.beans.User2">
        select * from User2 where state = #{state} and name = #{name} and pass = #{pass}
    </select>




</mapper>